{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Graphs{% endblock %}

{% block body_block %}
            <div class="mdl-grid demo-content">
                <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                    <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                        <use xlink:href="#piechart" mask="url(#piemask)" />
                        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan font-size="0.2" dy="-0.07">%</tspan></text>
                    </svg>
                    <!-- <div id="donut_single" style="width: 200px; height: 200px;"><div style="width: 50px; height: 50px;">memes</div></div> -->
                    <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                        <use xlink:href="#piechart" mask="url(#piemask)" />
                        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                    </svg>
                    <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                        <use xlink:href="#piechart" mask="url(#piemask)" />
                        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                    </svg>
                    <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                        <use xlink:href="#piechart" mask="url(#piemask)" />
                        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                    </svg>
                </div>
                <!--<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
                    <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
                        <use xlink:href="#chart" />
                    </svg>
                    <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
                        <use xlink:href="#chart" />
                    </svg>
                </div>
                <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                            <h2 class="mdl-card__title-text">Updates</h2>
                        </div>
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                            Non dolore elit adipisicing ea reprehenderit consectetur culpa.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
                        </div>
                    </div>
                    <div class="demo-separator mdl-cell--1-col"></div>
                    <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                            <h3>View options</h3>
                            <ul>
                                <li>
                                    <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                        <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Click per object</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                        <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Views per object</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                        <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Objects selected</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                        <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">Objects viewed</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
                            <div class="mdl-layout-spacer"></div>
                            <i class="material-icons">location_on</i>
                        </div>
                    </div>
                </div>-->

                <style>
                  * {
                    font-family: Verdana, Arial, sans-serif;
                  }
                  a:link {
                    color:#000;
                    text-decoration: none;
                  }
                  a:visited {
                    color:#000;
                  }
                  a:hover {
                    color:#33F;
                  }
                  .button {
                    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
                    border: 1px solid #076bd2;
                    border-radius: 3px;
                    color: #fff;
                    display: none;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1.3;
                    padding: 8px 25px;
                    text-align: center;
                    text-shadow: 1px 1px 1px #076bd2;
                    letter-spacing: normal;
                  }
                  .center {
                    padding: 10px;
                    text-align: center;
                  }
                  .final {
                    color: black;
                    padding-right: 3px;
                  }
                  .interim {
                    color: gray;
                  }
                  .info {
                    font-size: 14px;
                    text-align: center;
                    color: #777;
                    display: none;
                  }
                  .right {
                    float: right;
                  }
                  .sidebyside {
                    display: inline-block;
                    width: 45%;
                    min-height: 40px;
                    text-align: left;
                    vertical-align: top;
                  }
                  #headline {
                    font-size: 40px;
                    font-weight: 300;
                  }
                  #info {
                    font-size: 20px;
                    text-align: center;
                    color: #777;
                    visibility: hidden;
                  }
                  #results {
                    font-size: 14px;
                    font-weight: bold;
                    border: 1px solid #ddd;
                    padding: 15px;
                    text-align: left;
                    min-height: 150px;
                  }
                  #start_button {
                    border: 0;
                    background-color:transparent;
                    padding: 0;
                  }
                </style>

                <div id="speech_recog">
                    <div id="info">
                        <p id="info_start">Click on the microphone icon and begin speaking.</p>
                        <p id="info_speak_now">Speak now.</p>
                        <p id="info_no_speech">No speech was detected. You may need to adjust your
                            <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                                microphone settings</a>.</p>
                        <p id="info_no_microphone" style="display:none">
                            No microphone was found. Ensure that a microphone is installed and that
                            <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                            microphone settings</a> are configured correctly.</p>
                        <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
                        <p id="info_denied">Permission to use microphone was denied.</p>
                        <p id="info_blocked">Permission to use microphone is blocked. To change,
                            go to chrome://settings/contentExceptions#media-stream</p>
                        <p id="info_upgrade">Web Speech API is not supported by this browser.
                             Upgrade to <a href="//www.google.com/chrome">Chrome</a>
                             version 25 or later.</p>
                    </div>
                    <div class="right">
                        <button id="start_button" onclick="startButton(event)">
                            <img id="start_immg" src="{% static "images/mic.gif" %}" alt="Start"></button>
                    </div>
                    <div id="results">
                        <span id="final_span" class="final"></span>
                        <!-- <span id="interim_span" class="interim"></span> -->
                        <p>
                    </div>
                    <div class="center">
                        <div class="sidebyside" style="text-align:right">
                            <button id="copy_button" class="button" onclick="copyButton()">
                                Copy and Paste</button>
                            <div id="copy_info" class="info">
                                Press Control-C to copy text.<br>(Command-C on Mac.)
                            </div>
                        </div>
                        <div class="sidebyside">
                            <button id="email_button" class="button" onclick="emailButton()">
                                Create Email</button>
                            <div id="email_info" class="info">
                                Text sent to default email application.<br>
                                (See chrome://settings/handlers to change.)
                            </div>
                        </div>
                        <p>
                        <div id="div_language">
                            <select id="select_language" onchange="updateCountry()"></select>
                            &nbsp;&nbsp;
                            <select id="select_dialect"></select>
                        </div>
                    </div>
                </div>
            </div>


            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="position: fixed; left: -1000px; height: -1000px;">
            <defs>
                <mask id="piemask" maskContentUnits="objectBoundingBox">
                    <circle cx=0.5 cy=0.5 r=0.49 fill="white" />
                    <circle cx=0.5 cy=0.5 r=0.40 fill="black" />
                </mask>
                <g id="piechart">
                    <circle cx=0.5 cy=0.5 r=0.5 />
                    <!-- grey bit showing unused space -->
                    <path d="M 0.5 0.5 0.5 0
                             A 0.5 0.5 0 0 1 1 0.5

                             z" stroke="none" fill="rgba(255, 255, 255, 0.75)" />
                </g>
            </defs>
        </svg>

{% endblock %}
