{% extends 'base.html' %}
{% load staticfiles %}

{% block title1 %}More Info{% endblock %}
{% block title2 %}More Info{% endblock %}

{% block body_block %}
            <div class="mdl-grid demo-content">

    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300" style="color:white; min-height:100px">
            <h2 class="mdl-card__title-text">Loan Status</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <p>
                {{ user.userprofile.status }}
            </p>
        </div>
    </div>

    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300" style="color:white; min-height:100px">
            <h2 class="mdl-card__title-text">Updates</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <p>

                Occaecat sint laboris anim bacon officia. Labore pork chop eu rump ham tongue. Kielbasa mollit swine
                sirloin irure proident. Corned beef picanha leberkas, shankle capicola short ribs elit exercitation.
                In bacon bresaola beef ribs eiusmod kielbasa, turducken commodo doner adipisicing.
            </p>
            <p>

                Leberkas tri-tip esse sint turducken shoulder pork velit pork belly jerky dolor porchetta venison
                short loin drumstick. Pancetta biltong irure proident ad, leberkas hamburger fatback ut ipsum
                nostrud alcatra culpa. Aliqua id elit ham hock. Porchetta deserunt mollit occaecat. Officia
                cupidatat biltong, fatback lorem culpa ea do meatball pancetta.
            </p>
            <p>

                Aliquip biltong nostrud velit cow occaecat dolor dolore. Sunt andouille in, ipsum ham hock nisi
                filet mignon culpa velit minim strip steak burgdoggen aute quis. Capicola shoulder sint turducken
                short loin reprehenderit, ea strip steak kielbasa officia irure incididunt swine bresaola ex. Irure
                jerky labore, tenderloin ground round shoulder chicken meatloaf spare ribs anim adipisicing culpa
                velit. Tempor ad incididunt prosciutto adipisicing.
            </p>
        </div>
    </div>
            </div>
{% endblock %}
