{% extends 'base.html' %}
{% load staticfiles %}

{% block title1 %}Speech demo{% endblock %}
{% block title2 %}Speech demo{% endblock %}

{% block header %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">

<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static "css/text-to-speech.css" %}"/>
{% endblock %}

{% block body_block %}

<h1>Speech synthesiser</h1>

<p>Enter some text in the input below and press the submit button, or return, to hear it. change voices using the dropdown menu.</p>

<form>
<input type="text" class="txt">
<div>
	<label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
	<div class="rate-value">1</div>
	<div class="clearfix"></div>
</div>

<div>
	<label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
	<div class="pitch-value">1</div>
	<div class="clearfix"></div>
</div>

<select id="language-select">
</select>

<button id="submit-button">
Submit
</button>
</form>

<script src="{% static "js/text-to-speech.js" %}"></script>

{% endblock %}
